<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .xuan{
        padding: 20px;
        width: 300px;
    }
</style>
<body>
<center>
    <table border="0">
        <tr>
            <td><h1>请选择</h1></td>
        </tr>
        <tr>
            <td>上映电影查询：<a href="/user/Smove"><input type="button" name="shangying" class="xuan" value="上映电影"></a></td>
        </tr>
        <tr>
            <td height="20px"></td>
        </tr>
        <tr>
            <td>预售电影查询：<a href="/user/Ymove"><input type="button" name="yushou" class="xuan" value="预售电影"></a></td>
        </tr>
    </table>
</center>
</body>
</html>